.Recommend{
  width: 100%;
  height: 38.467rem;
  background-color: white;
  margin-top:2.333rem;
  img{
    height:  13.333rem;
    width: 25rem;
    display: inline-block;
  }
  .swiper-pagination-child{
    position: absolute;
    top:13.333rem;
    left: 10rem;
    z-index: 1111;
    .swiper-pagination-bullet{
      background: white;
      margin-left: 0.333rem;
      opacity: 0.5;
    }
    .swiper-pagination-bullet-active{
      background-color: #eee;
      opacity: 1;
    }
  }
  .personality{
    justify-content: space-around;
    display: flex;
    li{
      background: url("img/likes.png")  no-repeat;
      width: 4.667rem;
      height: 4.667rem;
      background-size: contain;
    }
    li:nth-child(2){
      background-image: url("img/getup.png");
    }
    li:nth-child(3){
      background-image: url("img/hot.png");
    }
    li:nth-child(4){
      background-image: url("img/listen.png");
    }
  }
  .rContent{
    color: #323232;
    height: 26.667rem;
    overflow-y: auto;
    .result{
      overflow:hidden;
      padding:0.667rem;
      .result_left{
        float: left;
        img,.text{
          float: left;
        }
        .text{
          font-size: 1rem;
          div:nth-child(1){
            color: coral;
          }
          div:nth-child(2){
            margin-top:0.333rem;
            width: 13.333rem;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            font-size: 0.667rem;
          }
        }
        img{
          width: 2.667rem;
          height: 2.667rem;
          margin-right: 0.667rem;
        }
      }
      .result_right{
        float: right;
      }

    }
  }
}